@model OGB.Application.ViewModels.Class1A.ListChemistry1AForListVm

@{
    ViewData["Title"] = "ChemistryAvarages";
}

<h1>Chemistry Avarages</h1>

<p>
    <a class="nav-link text-dark" asp-area="" asp-controller="Class1A" asp-action="StudentsAvarages">Back to previous page</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <a class="nav-link text-dark" asp-area="" asp-controller="Class1A" asp-action="EditChemistryGrade">Edit grade</a>
            </th>
        </tr>
    </thead>
</table>
<table class="table">
    <style>
        table {
            text-align: center;
        }

        th {
            border: 1px solid;
            padding: 10px;
        }

        td {
            border: 1px solid;
            padding: 10px;
        }
    </style>
    <thead>
        <tr>
            <th>
                Index number
            </th>
            <th>
                TestAvarage
            </th>
            <th>
                ShortQuizAvarage
            </th>
            <th>
                HomeWorkAvarage
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Chemistry1A)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TestAvarage)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShortQuizAvarage)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HomeworkAvarage)
                </td>
            </tr>
        }
    </tbody>
</table>

